
body {
  background: #eeeeee;
}

.title {
  text-align: center;
  margin-top: 150px;
}

#main {
  text-align: center;
}

#url {
  width:1200px;
  height:40px;
  font-size: 40px;
}

#title {
  width:1200px;
}

#width {
  width:590px;
}

#height {
  width:590px;
  margin-left: 10px;
}

#button {
  width:1210px;
  height: 40px;
  font-size: 20px
}

#warning {
  color: #FF0000;
}

#head {
  border: 5px, solid;
}
